#download{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #06113d;
    opacity: 85%;
    z-index: 10;
    display: table;
}

#content{
    text-align: center;
    background: #06113d;
    opacity: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: xx-large;
    overflow: hidden;
}

#rotate{
    font-size: 400%;
    animation: rotate 2s linear infinite;
    margin: 0;
}
@keyframes rotate {
    0% {transform:rotate(0deg);}
    100%{transform: rotate(360deg);}

}
.none{
    display: none !important;
}
